@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700);
.hljs{
  display:block;
  overflow-x:auto;
  padding:0.5em;
  background:#2E3440;
}.hljs,
.hljs-subst{
  color:#D8DEE9;
}.hljs-selector-tag{
  color:#81A1C1;
}.hljs-selector-id{
  color:#8FBCBB;
  font-weight:bold;
}.hljs-selector-class{
  color:#8FBCBB;
}.hljs-selector-attr{
  color:#8FBCBB;
}.hljs-selector-pseudo{
  color:#88C0D0;
}.hljs-addition{
  background-color:rgba(163, 190, 140, .5);
}.hljs-deletion{
  background-color:rgba(191, 97, 106, .5);
}.hljs-built_in,
.hljs-type{
  color:#8FBCBB;
}.hljs-class{
  color:#8FBCBB;
}.hljs-function{
  color:#88C0D0;
}.hljs-function > .hljs-title{
  color:#88C0D0;
}.hljs-keyword,
.hljs-literal,
.hljs-symbol{
  color:#81A1C1;
}.hljs-number{
  color:#B48EAD;
}.hljs-regexp{
  color:#EBCB8B;
}.hljs-string{
  color:#A3BE8C;
}.hljs-title{
  color:#8FBCBB;
}.hljs-params{
  color:#D8DEE9;
}.hljs-bullet{
  color:#81A1C1;
}.hljs-code{
  color:#8FBCBB;
}.hljs-emphasis{
  font-style:italic;
}.hljs-formula{
  color:#8FBCBB;
}.hljs-strong{
  font-weight:bold;
}.hljs-link:hover{
  text-decoration:underline;
}.hljs-quote{
  color:#4C566A;
}.hljs-comment{
  color:#4C566A;
}.hljs-doctag{
  color:#8FBCBB;
}.hljs-meta,
.hljs-meta-keyword{
  color:#5E81AC;
}.hljs-meta-string{
  color:#A3BE8C;
}.hljs-attr{
  color:#8FBCBB;
}.hljs-attribute{
  color:#D8DEE9;
}.hljs-builtin-name{
  color:#81A1C1;
}.hljs-name{
  color:#81A1C1;
}.hljs-section{
  color:#88C0D0;
}.hljs-tag{
  color:#81A1C1;
}.hljs-variable{
  color:#D8DEE9;
}.hljs-template-variable{
  color:#D8DEE9;
}.hljs-template-tag{
  color:#5E81AC;
}.abnf .hljs-attribute{
  color:#88C0D0;
}.abnf .hljs-symbol{
  color:#EBCB8B;
}.apache .hljs-attribute{
  color:#88C0D0;
}.apache .hljs-section{
  color:#81A1C1;
}.arduino .hljs-built_in{
  color:#88C0D0;
}.aspectj .hljs-meta{
  color:#D08770;
}.aspectj > .hljs-title{
  color:#88C0D0;
}.bnf .hljs-attribute{
  color:#8FBCBB;
}.clojure .hljs-name{
  color:#88C0D0;
}.clojure .hljs-symbol{
  color:#EBCB8B;
}.coq .hljs-built_in{
  color:#88C0D0;
}.cpp .hljs-meta-string{
  color:#8FBCBB;
}.css .hljs-built_in{
  color:#88C0D0;
}.css .hljs-keyword{
  color:#D08770;
}.diff .hljs-meta{
  color:#8FBCBB;
}.ebnf .hljs-attribute{
  color:#8FBCBB;
}.glsl .hljs-built_in{
  color:#88C0D0;
}.groovy .hljs-meta:not(:first-child){
  color:#D08770;
}.haxe .hljs-meta{
  color:#D08770;
}.java .hljs-meta{
  color:#D08770;
}.ldif .hljs-attribute{
  color:#8FBCBB;
}.lisp .hljs-name{
  color:#88C0D0;
}.lua .hljs-built_in{
  color:#88C0D0;
}.moonscript .hljs-built_in{
  color:#88C0D0;
}.nginx .hljs-attribute{
  color:#88C0D0;
}.nginx .hljs-section{
  color:#5E81AC;
}.pf .hljs-built_in{
  color:#88C0D0;
}.processing .hljs-built_in{
  color:#88C0D0;
}.scss .hljs-keyword{
  color:#81A1C1;
}.stylus .hljs-keyword{
  color:#81A1C1;
}.swift .hljs-meta{
  color:#D08770;
}.vim .hljs-built_in{
  color:#88C0D0;
  font-style:italic;
}.yaml .hljs-meta{
  color:#D08770;
}html, body{ margin:0 }*,
*::before,
*::after{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}a,
button,
[role="button"],
input,
label,
select,
textarea{
  -ms-touch-action:manipulation;
      touch-action:manipulation;
}.block{ display:block }.inline-block{ display:inline-block }.rel{ position:relative }.abs{ position:absolute }.fix{ position:fixed }.fill, .top{ top:0 }.fill, .bottom{ bottom:0 }.fill, .left{ left:0 }.fill, .right{ right:0 }.x{ width:100% }.y{ height:100% }.f{ display:-webkit-box; display:-ms-flexbox; display:flex }.fw{ -ms-flex-wrap:wrap; flex-wrap:wrap }.ais{ -webkit-box-align:start; -ms-flex-align:start; align-items:flex-start }.aie{ -webkit-box-align:end; -ms-flex-align:end; align-items:flex-end }.aic{ -webkit-box-align:center; -ms-flex-align:center; align-items:center }.aib{ -webkit-box-align:baseline; -ms-flex-align:baseline; align-items:baseline }.jcs{ -webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start }.jce{ -webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end }.jcc{ -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center }.jcb{ -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between }.fa{
  -webkit-box-flex:1;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  min-width:0;
  min-height:0;
}.al{ text-align:left }.ac{ text-align:center }.ar{ text-align:right }.aj{ text-align:justify }.mxa, .ma{ margin-left:auto }.mxa, .ma{ margin-right:auto }.mya, .ma{ margin-top:auto }.mya, .ma{ margin-bottom:auto; }.mt0, .my0, .m0{ margin-top:0 }.mb0, .my0, .m0{ margin-bottom:0 }.mt025, .my025, .m025{ margin-top:0.25em }.mb025, .my025, .m025{ margin-bottom:0.25em }.ml025, .mx025, .m025{ margin-left:0.25em }.mr025, .mx025, .m025{ margin-right:0.25em }.pt025, .py025, .p025{ padding-top:0.25em }.pb025, .py025, .p025{ padding-bottom:0.25em }.pl025, .px025, .p025{ padding-left:0.25em }.pr025, .px025, .p025{ padding-right:0.25em }.mt05, .my05, .m05{ margin-top:0.5em }.mb05, .my05, .m05{ margin-bottom:0.5em }.ml05, .mx05, .m05{ margin-left:0.5em }.mr05, .mx05, .m05{ margin-right:0.5em }.pt05, .py05, .p05{ padding-top:0.5em }.pb05, .py05, .p05{ padding-bottom:0.5em }.pl05, .px05, .p05{ padding-left:0.5em }.pr05, .px05, .p05{ padding-right:0.5em }.mt075, .my075, .m075{ margin-top:0.75em }.mb075, .my075, .m075{ margin-bottom:0.75em }.ml075, .mx075, .m075{ margin-left:0.75em }.mr075, .mx075, .m075{ margin-right:0.75em }.pt075, .py075, .p075{ padding-top:0.75em }.pb075, .py075, .p075{ padding-bottom:0.75em }.pl075, .px075, .p075{ padding-left:0.75em }.pr075, .px075, .p075{ padding-right:0.75em }.mt1, .my1, .m1{ margin-top:1em }.mb1, .my1, .m1{ margin-bottom:1em }.ml1, .mx1, .m1{ margin-left:1em }.mr1, .mx1, .m1{ margin-right:1em }.pt1, .py1, .p1{ padding-top:1em }.pb1, .py1, .p1{ padding-bottom:1em }.pl1, .px1, .p1{ padding-left:1em }.pr1, .px1, .p1{ padding-right:1em }button{
  border:0;
  border-radius:0;
  display:inline-block;
  cursor:pointer;
  -webkit-appearance:none;
}button.button,
.button[role="button"],
input.button[type="submit"]{
  background-color:#000;
  color:white;
  padding:0.5em 1.5em;
}form{
  margin:0;
}input,
textarea,
select{
  display:inline-block;
  outline:0;
  border-radius:0;
  border:1px solid #000;
  position:relative;
  font-size:inherit;
  background-color:transparent;
}textarea{
  max-width:100%;
  overflow:auto;
  resize:vertical;
}.z0{ z-index:0 }.z1{ z-index:100 }.z2{ z-index:200 }.z3{ z-index:300 }.z4{ z-index:400 }.z5{ z-index:500 }.z6{ z-index:600 }.z7{ z-index:700 }.z8{ z-index:800 }.z9{ z-index:900 }.z10{ z-index:1000 }html, body{
  color:#4A5964;
  font-family:'Roboto Mono', -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
  font-size:100%;
  line-height:1.7;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
}h1, h2, h3, h4, h5, h6, p{
  width:850px;
  max-width:40em;
}h1, h2, h3, h4, h5, h6{
  margin:1em 0 0.25em;
}.s1,
h1, .h1{
  font-size:64px;
  font-size:4rem;
}h1, .h1{
  line-height:1.1;
}.s2,
h2, .h2{
  font-size:48px;
  font-size:3rem;
}h2, .h2{
  line-height:1.3;
}.s3,
h3, .h3{
  font-size:32px;
  font-size:2rem;
}h3, .h3{
  line-height:1.5;
}.s4,
h4, .h4{
  font-size:24px;
  font-size:1.5rem;
}h4, .h4{
  line-height:1.5;
}.s5,
h5, .h5{
  font-size:16px;
  font-size:1rem;
}h5, .h5{
  line-height:1.6;
}.s6,
h6, .h6{
  font-size:14px;
  font-size:0.875rem;
}h6, .h6{
  line-height:1.6;
}.s0,
p, .p{
  font-size:16px;
  font-size:1rem;
}p, .p{
  line-height:1.7;
}p{
  margin:1em 0;
}a{
  color:inherit;
  text-decoration:none;
  text-shadow:1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  -webkit-box-shadow:inset 0 0 0 0 #fff, inset 0 -3px 0 0 #ECCF6A;
          box-shadow:inset 0 0 0 0 #fff, inset 0 -3px 0 0 #ECCF6A;
}a:hover{
    -webkit-box-shadow:inset 0 0 0 0 #fff, inset 0 -3px 0 0 #4A5964;
            box-shadow:inset 0 0 0 0 #fff, inset 0 -3px 0 0 #4A5964;
  }hr{
  display:block;
  border:0;
  margin:0;
  height:1px;
  width:100%;
  background-color:currentColor;
  color:inherit;
}small, .small{
  font-size:0.75em;
}strong, .b{
  font-weight:bold;
}em, .i{
  font-style:italic;
}.caps{
  text-transform:uppercase;
}.no-under{
  text-decoration:none;
}li{
  position:relative;
  margin:.33em 0;
  padding-left:1.5em;
}ul, ol{
  margin:0;
  padding-left:1em;
  list-style:none;
}ul ul, ul ol, ol ul, ol ol{
    padding-left:1em;
  }ol{
  counter-reset:num;
}ol li::before{
    content:counter(num) '.';
    counter-increment:num;
    display:block;
    position:absolute;
    left:0; top:0;
    color:#ECCF6A;
    font-weight:bold;
  }ul li::before{
  content:'\2022';
  display:block;
  position:absolute;
  left:0; top:0;
  color:#ECCF6A;
  font-weight:bold;
}#root{
  padding:20px;
}@media (min-width: 50em){#root{
    padding:80px
};
  }::-moz-selection{
  background:#ECCF6A;
}::selection{
  background:#ECCF6A;
}pre{
  font-family:inherit;
  margin:20px -20px;
  background:whitesmoke;
  padding:20px;
  border-left:4px solid #ECCF6A;
}@media (min-width: 50em){pre{
    margin:80px -80px;
    padding:80px
}
  }pre code{
    background:transparent;
  }code{
  font-family:inherit;
  background-color:#ECCF6A;
}code::-moz-selection{
    background:#4A5964;
    color:white;
  }code::selection{
    background:#4A5964;
    color:white;
  }

/*# sourceMappingURL=main.css.map*/